name: Deploy Backend to Firebase
'on':
  push:
    branches:
      - main
jobs:
  deploy_backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci
        working-directory: functions
      - name: Create .env
        run: echo "APP_STORAGE_BASE_URL=https://firebasestorage.googleapis.com/v0/b/" > functions/.env
      - name: Install Firebase CLI
        run: npm install -g firebase-tools
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_RED_EXPERIMENTAL_SEMILLAS }}'
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      - name: Deploy to Firebase
        run: firebase deploy --only functions,firestore,storage --project red-experimental-semillas --non-interactive --force
